@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    align-items: center;
}
.sliderMainDiv img{
    width: 270px;
    height: 180px;
}
.designSolutionText{
    width: 303px;
}
.underH1TagText{
    color: #7A746E;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    width: 303px;
    margin-top: 16px;
    margin-bottom: 32px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 32px;
    width: 100%;
}
button{
    height: 44px;
    width: 176px;
    border-radius: 28px;
    background: #030303;
    color: white;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    align-self: center;
}
.uxApp{
    display: flex;
    justify-content: space-between;
    width: 343px;
    align-self: flex-end;
}
.imagesFirstSix img{
    margin-top: 16px;
}
.mobileAmyPhoto{
    margin-top: 100px;
    margin-bottom: 40px;
}
.aboutAmy h3{
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;

}
.aboutAmy p{
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #7A746E;
    margin-top: 24px;
    margin-bottom: 24px;
}
.aboutAmy button{
    background-color: #EB7565;
    border: none;
    margin-bottom: 100px;
}
.myWork{
    margin-bottom: 28px;
}
.sliderMainDiv{
    width: 1410px;
    overflow: hidden;
    height: 100%;
    margin-bottom: 28px;
    overflow-y: visible;
    padding: 0; 
    position: relat;
    left: -140%;
    display: flex;
}
.sliderMainDiv img{
    margin-right: 15px;
   
}
.arrows div{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: black;
}
.arrows div img{
    position: relative;
    top: 35%;
}
.arrows{
    display: flex;
    width: 144px;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 100px;
}
.bookACall{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 40px;
}
.bookACall button{
    margin-bottom: 48px;
    background-color: #EB7565;
    border: none;
    margin-top: 32px;
}
.bookACall p{
    width: 295px;
    align-self: center;
}
.bookACall h3{
    margin-top: 49px;
    margin-bottom: 24px;
}
footer{
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media only screen and (min-width: 768px){
    .designSolutionText{
        width: 690px;
        font-family: Plus Jakarta Sans;
        font-size: 44px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0px;
        text-align: center;

    }
    .underH1TagText{
        width: 573px;
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
    }
    .imagesFirstSix{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 720px;
        margin-top: 64px;
    }
    .minWidth768{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        min-width: 720px;
    }
    .fromuixToIlust{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .minwidth768LastPhotos{
        display: flex;
        min-width: 720px;
        justify-content: space-between;
        
    }
    .fromAmyToFreeConsultationButton{
        display: flex;
        min-width: 720px;
        margin-top: 120px;
        position: relative;
        left: -9%;
        margin-bottom: 120px;
        
    }
    .aboutAmy{
        width: 339px;
        margin-top: 65px;
        align-self: center;
    }
    .aboutAmy h3{
        
        font-family: Plus Jakarta Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;

    }
    .aboutAmy p{
       
        font-family: Plus Jakarta Sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;

    }
    .aboutAmy  {
        text-align: left;
    }
    .mobileAmyPhoto{
        align-self: center;
        width: 364px;
        margin-right: 69px;
        margin-top: 80px;
        margin-bottom: 100px
    }
    .myWork{
            
        font-family: Plus Jakarta Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 84px;
    }
    .sliderMainDiv img{
        min-width: 540px;
        min-height: 360px;
        margin-bottom: 56px;
    }
    .arrows{
        margin-bottom: 120px;
    }
    .bookACall h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        min-width: 540px;
    }
    .bookACall p{
        min-width: 540px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }
    header{
        margin-bottom: 70px;
    }
    @media only screen and (min-width: 1440px){
        body{
            padding-left: 165px;
            padding-right: 165px;
        }
        .designSolutionText{
            width: 751px;
            font-family: Plus Jakarta Sans;
            font-size: 56px;
            font-weight: 700;
            line-height: 71px;
            letter-spacing: 0px;
            text-align: center;
        }
        .underH1TagText{
            width: 730px;
            font-family: Plus Jakarta Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: center;
        }
        .imagesFirstSix{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 64px;
            align-self: center;
            width: 1110px;
            justify-content: space-between;
        }
        .minWidth768{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            
        }
        .fromuixToIlust{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .minwidth768LastPhotos{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            align-items: center;
            min-width: 410px;
                   
        }
        .minwidth768LastPhotos img{
            width: 354px;  
            height: 158px; 
        }
        .fromAmyToFreeConsultationButton{
            display: flex;
            justify-content: space-between;
            min-width: 1110px;
            margin-top: 120px;
            position: relative;
            left: 0;
            margin-bottom: 120px;
            
        }
        .aboutAmy{
            width: 540px;
            margin-top: 65px;
            align-self: center;
        }
        .aboutAmy h3{
            
            font-family: Plus Jakarta Sans;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: left;
    
        }
        .aboutAmy p{
           
            font-family: Plus Jakarta Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0px;
            text-align: left;
    
        }
        .aboutAmy  {
            text-align: left;
        }
        .mobileAmyPhoto{
            align-self: center;
            width: 364px;
            margin-right: 69px;
            margin-top: 80px;
            margin-bottom: 100px
        }
        .myWork{
                
            font-family: Plus Jakarta Sans;
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 84px;
        }
        .sliderMainDiv img{
            min-width: 540px;
            min-height: 360px;
            margin-bottom: 56px;
        }
        .arrows{
            margin-bottom: 120px;
        }
        .bookACall h3{
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            min-width: 540px;
        }
        .bookACall p{
            min-width: 540px;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
        }
        header{
            margin-bottom: 70px;
        }
        .uxApp img{
            height: 158px;
            width: 164px;
        }
    }
}